*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  box-sizing: inherit; }

a:active, a:visited {
  text-decoration: none !important; }

a:hover {
  text-decoration: none !important; }

body, html {
  box-sizing: border-box;
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  background-color: #eeeeee;
  overflow-x: hidden; }
  @media only screen and (min-width: 112.5em) {
    body, html {
      font-size: 62.5%; } }
  @media only screen and (max-width: 75em) {
    body, html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 62.5em) {
    body, html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    body, html {
      font-size: 45%; } }

::selection {
  background-color: #67AECA;
  color: #fff; }

body {
  font-family: "lato", sans-serif; }

.logo {
  color: #fff;
  font-size: 1.6rem;
  height: 10rem;
  width: 25rem;
  position: absolute;
  left: 2rem;
  top: 1rem; }
  .logo-d, .logo-j, .logo-text {
    font-size: 7rem;
    font-family: 'Lobster', cursive; }
  .logo-d {
    transform: rotate(-30deg);
    position: absolute;
    top: 1rem;
    left: 1rem;
    text-shadow: 0px 0px 20px #FFC5EE; }
  .logo-j {
    transform: rotate(16deg);
    position: absolute;
    top: 1rem;
    right: 1rem;
    text-shadow: 0px 0px 20px #FFC5EE; }
  .logo-text {
    font-size: 2.5rem;
    position: absolute;
    left: 6.5rem;
    top: 3.7rem; }

.about__card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto; }

.about__card {
  width: 30rem;
  height: 31rem;
  background: white;
  border-radius: 2rem;
  margin: 10rem 0 4rem 0;
  text-align: center;
  -webkit-box-shadow: 10px 11px 46px -10px #6b346b;
  -moz-box-shadow: 10px 11px 46px -10px #6b346b;
  box-shadow: 10px 11px 46px -10px #6b346b;
  transition: all .3s; }
  .about__card-icon {
    font-size: 6rem;
    margin: 0 auto;
    display: inline-block;
    padding-top: 3rem;
    background: linear-gradient(to top right, #7b4397, #dc2430);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    color: transparent; }
  .about__card-header {
    font-size: 2rem;
    color: #777;
    padding: 1rem; }
  .about__card-text {
    font-size: 1.6rem;
    color: #777;
    padding: 1rem 2rem 0 2rem; }
  .about__card:hover {
    transform: translateY(-10px);
    cursor: pointer; }

.header {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to top left, rgba(187, 51, 255, 0.05), rgba(63, 43, 150, 0.7)), url("../img/cherry-blossom.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 100% 90vh, 70% 100%, 0 80vh); }
  .header__primary-text {
    color: white;
    font-size: 3rem;
    width: 50rem;
    text-align: center;
    display: block;
    position: absolute;
    top: 20rem;
    left: 30rem;
    font-weight: bold;
    letter-spacing: 3px; }
    .header__primary-text-special {
      font-family: 'Dancing Script', cursive;
      font-weight: 700;
      font-size: 12rem;
      display: block;
      letter-spacing: 5px;
      padding-bottom: 1.5rem;
      text-shadow: 0px 0px 20px #FFC5EE; }
      .header__primary-text-special-1 {
        font-size: 7rem;
        font-family: 'Dancing Script', cursive;
        text-shadow: 0px 0px 20px #FFC5EE; }
  .header__nav {
    position: absolute;
    right: 7rem;
    top: 2rem;
    font-weight: bold;
    letter-spacing: 1px; }
    .header__nav-ul {
      list-style: none;
      display: block; }
      .header__nav-ul-li {
        margin: .6rem;
        padding: 1rem;
        display: inline-block; }
      .header__nav-ul-link {
        color: white;
        text-decoration: none;
        font-size: 1.7rem;
        transition: all .3s;
        backface-visibility: hidden;
        display: inline-block;
        border: 2px white solid;
        padding: .7rem 2.5rem .7rem 2.5rem;
        border-radius: 10px;
        -webkit-box-shadow: 0px 0px 16px -2px white;
        -moz-box-shadow: 0px 0px 16px -2px white;
        box-shadow: 0px 0px 16px -2px white; }
        .header__nav-ul-link:hover {
          transform: translateY(-5px);
          color: #e6ffff;
          border: 2px #e6ffff solid; }
  .header__ipad {
    position: absolute;
    right: 40rem;
    top: 15rem; }
    .header__ipad-img {
      width: 40rem;
      transform: rotate(-30deg); }

.about {
  margin-bottom: 20rem; }
