.header{
  height: 100vh;
  width: 100%;
  background-image:
          linear-gradient(to top left, rgba(#bb33ff,.05), rgba(#3f2b96, .7)),
          url("../img/cherry-blossom.jpg");
  background-size: cover;
  background-position: top;
  //-webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 100% 90vh, 70% 100%, 0 80vh);

  &__primary-text{
    color: white;
    font-size: 3rem;
    width: 50rem;
    text-align: center;
    display: block;
    //background-color: red;
    position: absolute;
    top: 20rem;
    left: 30rem;
    font-weight: bold;
    letter-spacing: 3px;


    &-special{
      font-family: 'Dancing Script', cursive;
      font-weight: 700;
      font-size: 12rem;
      display: block;
      letter-spacing: 5px;
      padding-bottom: 1.5rem;
      text-shadow: 0px 0px 20px #FFC5EE;

      &-1{
        font-size: 7rem;
        font-family: 'Dancing Script', cursive;
        text-shadow: 0px 0px 20px #FFC5EE;
      }
    }
  }

  &__nav{

    position: absolute;
    right: 5rem;
    top: 2rem;
    font-weight: bold;
    letter-spacing: 1px;

    &-ul{
      list-style: none;
      display: block;
      backface-visibility: hidden;

      &-li{
        margin: .6rem;
        display: inline-block;

      }

      &-link{
        color: white;
        text-decoration: none;
        font-size: 1.7rem;
        transition: all .3s;
        backface-visibility: hidden;
        display: inline-block;
        border: 2px white solid;
        padding: .7rem 2.5rem .7rem 2.5rem;
        border-radius: 10px;
        margin: 0 1rem 0 1rem;
        @include box-shadow-white;


        &:hover{
          transform: translateY(-5px);
          color:  #e6ffff;
          border-color: #e6ffff;
        }
      }
    }

  }

  &__ipad{
    position: absolute;
    right: 40rem;
    top: 15rem;

    &-img{
      width: 40rem;
      transform: rotate(-30deg);
    }
  }
}