.header{
  height: 100vh;
  background-image:
          linear-gradient(to top left, rgba(#aa076b,.4), rgba(#61045f, .9)),
          url("../img/cherry-blossom-min.jpg");
  background-size: cover;
  background-position: top;

  clip-path: polygon(0 0, 100% 0, 100% 80%, 100% 90vh, 70% 100%, 0 80vh);

  @include respond(tab-port) {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 100% 90vh, 80% 100%, 0 90vh);
  }

  @include respond(phone) {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%, 0 100vh);
  }

  &__logo-header-container{
    width: 95%;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include respond(phone) {
      width: 95%;
    }
  }

  &__logo{
    width: 25rem;
    animation-name: fadeInDown;
    animation-duration: 1s;

    @include respond(phone) {
      margin: 0 auto;
    }

    @include respond(tab-port) {
      margin: 0 auto;
    }
  }

  &__primary-text{
    color: white;
    font-size: 3rem;
    width: 50rem;
    text-align: center;
    display: block;
    position: absolute;
    top: 20%;
    left: 20%;
    font-weight: bold;
    letter-spacing: 3px;
    animation-name: fadeInLeft;
    animation-duration: 1s;

    @include respond(phone) {
      top: 30%;
      left: 10%;
      font-size: 4rem;
    }

    &-special{
      font-family: 'Dancing Script', cursive;
      font-weight: 700;
      font-size: 12rem;
      display: block;
      letter-spacing: 5px;
      padding-bottom: 1.5rem;
      text-shadow: 0 0 20px #FFC5EE;

      &-1{
        font-size: 7rem;
        font-family: 'Dancing Script', cursive;
      }
    }
  }

  &__nav{
    font-weight: bold;
    letter-spacing: 1px;
    width: 55rem;
    text-align: center;
    padding-top: 2rem;
    display: block;

    @include respond(phone) {
      margin: 0 auto;
    }

    @include respond(tab-port) {
      margin: 0 auto;
    }

    &-ul{
      list-style: none;
      display: block;
      backface-visibility: hidden;
      width: 100%;

      &-li{
        display: inline-block;
      }

      &-link{
        color: white;
        text-decoration: none;
        font-size: 1.6rem;
        transition: all .2s;
        backface-visibility: hidden;
        display: inline-block;
        border: 1px white solid;
        padding: .7rem 2.5rem;
        border-radius: 4px;
        margin: 5px 2rem;
        @include box-shadow-white;

        &:hover{
          transform: translateY(-3px);
        }
      }
    }

  }
}


@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}


@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}