.header{
  height: 100vh;
  background-image:
          linear-gradient(to top left, rgba(#bb33ff,.05), rgba(#3f2b96, .7)),
          url("../img/cherry-blossom-min.jpg");
  background-size: cover;
  background-position: top;

  clip-path: polygon(0 0, 100% 0, 100% 80%, 100% 90vh, 70% 100%, 0 80vh);

  @include respond(tab-port) {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 100% 90vh, 80% 100%, 0 90vh);
  }

  @include respond(phone) {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%, 0 100vh);
  }

  &__logo-header-container{
    width: 95%;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include respond(phone) {
      width: 95%;
    }
  }

  &__logo{
    width: 25rem;

    @include respond(phone) {
      margin: 0 auto;
    }

    @include respond(tab-port) {
      margin: 0 auto;
    }
  }

  &__primary-text{
    color: white;
    font-size: 3rem;
    width: 50rem;
    text-align: center;
    display: block;
    position: absolute;
    top: 20%;
    left: 20%;
    font-weight: bold;
    letter-spacing: 3px;

    @include respond(phone) {
      top: 30%;
      left: 10%;
      font-size: 4rem;
    }

    &-special{
      font-family: 'Dancing Script', cursive;
      font-weight: 700;
      font-size: 12rem;
      display: block;
      letter-spacing: 5px;
      padding-bottom: 1.5rem;
      text-shadow: 0 0 20px #FFC5EE;

      &-1{
        font-size: 7rem;
        font-family: 'Dancing Script', cursive;
      }
    }
  }

  &__nav{
    font-weight: bold;
    letter-spacing: 1px;
    width: 55rem;
    text-align: center;
    padding-top: 2rem;
    display: block;

    @include respond(phone) {
      margin: 0 auto;
    }

    @include respond(tab-port) {
      margin: 0 auto;
    }

    &-ul{
      list-style: none;
      display: block;
      backface-visibility: hidden;
      width: 100%;

      &-li{
        margin: .6rem;
        display: inline-block;

      }

      &-link{
        color: white;
        text-decoration: none;
        font-size: 1.7rem;
        transition: all .3s;
        backface-visibility: hidden;
        display: inline-block;
        border: 2px white solid;
        padding: .7rem 2.5rem .7rem 2.5rem;
        border-radius: 10px;
        margin: 0 1rem 0 1rem;
        @include box-shadow-white;


        &:hover{
          transform: translateY(-5px);
          color:  #e6ffff;
          border-color: #e6ffff;
        }
      }
    }

  }
}