.banner{
  height: 44rem;
  background: linear-gradient(to top left, rgba(#bb33ff,.9), rgba(#3f2b96, .9));
  background-size: cover;
  width: 100%;
  clip-path: polygon(0 0, 5% 15%, 95% 15%, 100% 0, 100% 100%, 95% 85%,5% 85%, 0 100%);
  margin-bottom: 5rem;

  &__text{
    font-size: 2rem;
    color: white;
    text-align: center;
    &-1{
      padding: 7% 15% 2% 15%;
    }

    &-2{
      padding: 0 15% 1% 15%;
    }

    &-3{
      padding: 0 15% 1% 15%;
    }

  }
}