.logo{
  color: $color-white;
  font-size: $default-font-size;
  height: 10rem;
  width: 25rem;
  //background-color: orangered;
  position: relative;

  &-d, &-j,  &-text{
    font-size: 7rem;
    font-family: 'Lobster', cursive;
  }

  &-d{
    transform: rotate(-30deg);
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

  &-j{
    transform: rotate(16deg);
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  &-text{
    font-size: 2.5rem;
    position: absolute;
    left: 6.5rem;
    top: 3.7rem;
  }
}